:root{
font-family: Arial, Helvetica;
}

body{
background-color: #de6100;
}
#titulo{
text-align: center;
color:#000000 ;
}

#descripcion{
color:#000000  ;
font-size: 18px;
}
#contenedor-1{
width:100vw;
height: 700px;
background-image: url("./atletismo/portada.jfif");
background-repeat: no-repeat;
background-size: cover;png

}
#menu{
text-align:center;
background-color: #ff0000;
}
#lista-menu{
display:flex;
justify-content:center;
gap:20px;
color:#ff0000;
padding-top:10px;
padding-bottom:10px;
list-style:none;
}
.menu-item{
color:#000000;
font-size: 18px;
}
.enlace-menu{
text-decoration: none;
}
